@import url("bootstrap.overrided.css");
@media only screen and (max-width:1294px) {
    .driver-index-aside .standings tbody .country {
        display: none;
    }
}

@media only screen and (max-width:1102px) {
    .driver-index-aside .standings tbody .car {
        display: none;
    }
}

@media only screen and (max-width:1023px) {
    .page-title {
        font-size: 30px;
    }
    .team-list-item-details {
        padding: 0 5.46% 0 18px;
        width: 52.6%;
    }
    .team-list-item-image {
        width: 47.4%;
    }
    .team-list-item-details .panel-left {
        width: 58.41%;
        padding-top: 35px;
    }
    .team-list-item-details .stat-list {
        width: 41.59%;
        margin-top: 35px;
    }
    .team-list-item-title {
        font-size: 20px;
    }
    .team-list-item-details .stat-key .icon {
        display: none;
    }
    .team-list-item-image .team-adaptiveimage .image {
        width: auto;
        height: 100%;
    }
    .team-details .team-stats {
        padding: 40px 20px 0 20px;
    }
    .team-details .driver-number {
        font-size: 28px;
    }
    .team-details .driver-name {
        font-size: 20px;
    }
    .team-details .driver-team {
        font-size: 14px;
    }
    .calendar-list-item {
        width: 50%;
    }
    .calendar-list-item .race-teaser {
        height: 400px;
    }
    .calendar-list-item .race-teaser-image {
        height: 210px;
    }
    .calendar-list-item .race-teaser-info {
        height: 210px;
    }
    .calendar-list-item:hover .race-teaser-info {
        height: 220px;
    }
    .race-map .f1-flag-wrapper {
        position: static;
    }
    .race-map .f1-flag-wrapper picture img {
        width: 60px;
    }
    .f1-podium-driver {
        width: 200px;
    }
    .race-map .f1-track-name {
        display: none;
    }
    .race-map .f1-race-map-track-name {
        display: block;
    }
    .drivers-list .driver-teaser {
        height: 400px;
        width: 50%;
    }
    .drivers-list .driver-details {
        padding: 30px;
    }
    .drivers-list .driver-number {
        font-size: 28px;
    }
    .drivers-list .driver-name {
        font-size: 20px;
    }
    .drivers-list .driver-team {
        font-size: 14px;
    }
    .drivers-detail-page .stats-list-component {
        padding: 30px;
    }
    .drivers-detail-page .extra-info {
        padding: 0 0 10px 0;
    }
    .drivers-detail-page .brand-logo {
        height: 85px;
    }
    .drivers-detail-page .brand-logo img {
        max-width: 129px;
        max-height: 85px;
    }
    .driver-index-aside {
        height: 800px;
    }
    .results-page .resultsarchive-table tr th,
    .results-page .resultsarchive-table tr td {
        padding: 15px 15px 12px;
    }
    .results-page .resultsarchive-table .hide-for-tablet {
        display: none;
    }
}

@media only screen and (max-width: 991px) {
    .f1-podium-driver-team-full {
        display: none;
    }
    .f1-podium-driver-team-short {
        display: inline;
    }
}

@media only screen and (max-width: 767px) {
    .page-title {
        font-size: 24px;
        margin: 30px 0 30px 0;
    }
    .team-list-item-wrapper {
        display: inline-block;
        position: relative;
        padding-bottom: 0;
    }
    .team-list-item-details {
        display: block;
        position: relative;
        width: 100%;
        margin-top: 200px;
        padding: 0 20px 22px;
    }
    .team-list-item-details .panel-left {
        min-height: 195px;
        padding-top: 30px;
        width: 50%;
    }
    .team-list-item-title {
        font-size: 15px;
    }
    .team-list-item-driver {
        font-size: 10px;
    }
    .team-list-item-details .panel-right {
        width: 50%;
        margin-top: 30px;
        padding-right: 0;
    }
    .team-list-item-details .stat-value,
    .team-list-item-details .stat-key {
        padding: 12px 5px;
    }
    .team-list-item-details .stat-key {
        font-size: 7px;
    }
    .team-list-item-details .stat-key .icon {
        display: inline-block;
        width: 15px;
        margin-right: 10px;
        font-size: 12.5px;
    }
    .team-list-item-details .stat-value {
        font-size: 15px;
    }
    .team-list-item-image {
        display: block;
        position: absolute;
        width: 100%;
        height: 200px;
        top: 0;
        left: 0;
    }
    .team-list-item-image .team-color {
        height: 5px;
        bottom: 0;
        top: auto;
        width: 100%;
    }
    .team-list-item-image .team-adaptiveimage .image {
        width: 100%;
        height: auto;
    }
    .team-details .stats,
    .team-details .profile {
        position: static;
        float: none;
        padding: 0;
        width: 100%;
    }
    .team-details .stats {
        margin: 2px 0 0;
    }
    .team-details .team-stats {
        padding: 15px;
    }
    .team-details .team-stats .extra-info {
        padding: 0 0 20px 0;
    }
    .team-details .team-stats .stat-list {
        font-size: 11px;
    }
    .team-details .team-stats .stat-key {
        padding: 0;
        line-height: 1.442;
    }
    .team-details .profile .drivers li:first-child {
        border-left-width: 0;
        border-top-width: 2px;
    }
    .team-details .profile .drivers li:last-child {
        border-top-width: 2px;
    }
    .team-details .driver-image {
        height: 300px;
    }
    .team-details .driver-details {
        padding: 45px 15px;
    }
    .team-details .driver-number {
        font-size: 28px;
        margin-bottom: 15px;
    }
    .team-details .driver-name {
        font-size: 18px;
    }
    .team-details .driver-team {
        font-size: 13px;
    }
    .calendar-list-item .race-teaser-info {
        padding: 15px;
    }
    .calendar-list-item .race-teaser-date {
        font-size: 12px;
    }
    .calendar-list-item .race-teaser-title {
        font-size: 12px;
    }
    .calendar-list-item .race-teaser-winner {
        font-size: 10px;
    }
    .hero-header {
        height: 215px;
    }
    .hero-content-wrapper .race-location {
        font-size: 32px;
        line-height: 36px;
    }
    .hero-content-wrapper .hero-image {
        width: 110px;
    }
    .race-review-wrapper .container {
        padding-left: 0;
        padding-right: 0;
    }
    .f1-podium-driver {
        width: 160px;
    }
    .f1-podium-driver .f1-podium-firstname {
        display: none;
    }
    .race-review {
        padding: 10px 10px 0 0;
    }
    .race-review .race-review-ctas .btn {
        display: block;
    }
    .race-map {
        padding: 10px 10px 0 0;
    }
    .race-map .f1-race-map-track-name {
        font-size: 20px;
    }
    .drivers-list .driver-teaser {
        height: 350px;
    }
    .drivers-list .driver-details {
        padding: 15px 14px;
    }
    .drivers-list .driver-number {
        font-size: 28px;
        margin-bottom: 15px;
        line-height: 1.125;
    }
    .drivers-list .driver-name {
        font-size: 18px;
        line-height: 1.142;
    }
    .drivers-list .driver-team {
        font-size: 13px;
        line-height: 1.272;
    }
    .driver-index-aside {
        width: 100%;
        float: none;
        height: auto;
    }
    .driver-index-standings {
        height: auto;
    }
    .driver-index-aside .standings-title {
        line-height: 1.2;
        letter-spacing: 0;
        padding-bottom: 16px;
        margin-bottom: 20px;
    }
    .driver-index-aside .standings tbody .country {
        display: table-cell;
    }
    .driver-index-aside .standings tbody .car {
        display: table-cell;
    }
    .drivers-detail-page .profile {
        position: static;
        float: none;
        width: 100%;
        padding: 0;
    }
    .drivers-detail-page .stats {
        position: static;
        float: none;
        width: 100%;
        padding: 0;
        margin: 2px 0 0 0;
        border-top: 1px solid #b0b0b0;
    }
    .drivers-detail-page .driver-detail {
        padding: 15px 14px;
    }
    .drivers-detail-page .driver-number {
        line-height: 1.125;
        font-size: 24px;
    }
    .drivers-detail-page .driver-flag {
        top: 0;
        width: 30px;
        height: 21px;
    }
    .drivers-detail-page .driver-name {
        font-size: 24px;
        line-height: 1.125;
    }
    .drivers-detail-page .stats-list-component {
        padding: 15px;
    }
    .drivers-detail-page .extra-info {
        padding: 0 0 40px 0;
    }
    .drivers-detail-page .brand-logo {
        height: 125px;
    }
    .drivers-detail-page .brand-logo img {
        max-width: 190px;
        max-height: 125px;
    }
    .drivers-detail-page .stat-list {
        font-size: 11px;
    }
    .drivers-detail-page .stat-key {
        padding: 0;
        font-size: 12px;
        line-height: 1.9;
    }
    .drivers-detail-page .stat-value {
        font-size: 13px;
    }
    .resultsarchive-wrapper .page-title {
        margin-bottom: 15px;
    }
    .results-page .resultsarchive-table tr th,
    .results-page .resultsarchive-table tr td {
        padding: 18px 10px 14px;
    }
    .results-page .resultsarchive-table .hide-for-mobile {
        display: none;
    }
    .results-page .resultsarchive-table .hide-for-desktop {
        display: block;
    }
    .resultsarchive-wrapper {
        margin: 0 0 25px 0;
        padding: 25px 15px 10px;
    }
    .resultsarchive-wrapper .note {
        padding-bottom: 30px;
        border-bottom: 1px solid #b0b0b0;
    }
}

@media only screen and (max-width: 639px) {
    .calendar-list-item .race-teaser {
        height: 320px;
    }
    .calendar-list-item .race-teaser-image {
        height: 160px;
    }
    .calendar-list-item .race-teaser-info {
        height: 170px;
    }
    .calendar-list-item:hover .race-teaser-info {
        height: 180px;
    }
    .f1-podium-driver {
        width: auto;
    }
    .f1-podium-driver-team {
        display: none;
    }
    .drivers-list .driver-teaser {
        float: none;
        width: 100%;
        height: 360px;
        border-right: 0;
    }
    .driver-teaser-image-wrapper {
        height: 210px;
    }
    .driver-teaser-image-inner .driver-teaser-image img {
        width: 100%;
        left: 0;
        margin-left: 0;
    }
    .driver-index-aside .standings tbody .country {
        display: none;
    }
}

@media only screen and (max-width: 551px) {
    .driver-index-aside .standings tbody .car {
        display: none;
    }
}

@media only screen and (max-width: 479px) {
    .calendar-list-item {
        float: none;
        width: 100%;
    }
    .calendar-list-item .race-teaser {
        height: 280px;
    }
    .calendar-list-item .race-teaser-image {
        height: 150px;
    }
    .calendar-list-item .race-teaser-info {
        height: 160px;
    }
    .calendar-list-item:hover .race-teaser-info {
        height: 170px;
    }
    .drivers-list .driver-teaser {
        height: 350px;
    }
    .driver-teaser-image-wrapper {
        height: 200px;
    }
}

@media only screen and (max-width: 391px) {
    .driver-index-aside .standings .first-name {
        display: none;
    }
    .driver-index-aside .standings .last-name {
        display: none;
    }
    .driver-index-aside .standings .tla {
        display: block;
        text-transform: uppercase;
    }
}