@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Titillium+Web:400,400i,600,600i");
@import url("fonts.css");
@import url("icomoon.css");
@font-face {
    font-family: 'F1BoldRegular';
    src: url('fonts/F1_Bold/Formula1-Bold_web.eot');
    src: url('fonts/F1_Bold/Formula1-Bold_web.eot?#iefix') format('embedded-opentype'), url('fonts/F1_Bold/Formula1-Bold_web.woff2') format('woff2'), url('fonts/F1_Bold/Formula1-Bold_web.woff') format('woff'), url('fonts/F1_Bold/Formula1-Bold_web.ttf') format('truetype'), url('fonts/F1_Bold/Formula1-Bold_web.svg') format('svg');
    font-weight: 700;
    font-style: normal
}

@font-face {
    font-family: 'F1BoldRegular';
    src: url('fonts/F1_Regular/Formula1-Regular_web.eot');
    src: url('fonts/F1_Regular/Formula1-Regular_web.eot?#iefix') format('embedded-opentype'), url('fonts/F1_Regular/Formula1-Regular_web.woff2') format('woff2'), url('fonts/F1_Regular/Formula1-Regular_web.woff') format('woff'), url('fonts/F1_Regular/Formula1-Regular_web.ttf') format('truetype'), url('fonts/F1_Regular/Formula1-Regular_web.svg') format('svg');
    font-weight: 500;
    font-style: normal
}

@font-face {
    font-family: 'F1Bold';
    src: url('fonts/F1_Bold/Formula1-Bold_web.eot');
    src: url('fonts/F1_Bold/Formula1-Bold_web.eot?#iefix') format('embedded-opentype'), url('fonts/F1_Bold/Formula1-Bold_web.woff2') format('woff2'), url('fonts/F1_Bold/Formula1-Bold_web.woff') format('woff'), url('fonts/F1_Bold/Formula1-Bold_web.ttf') format('truetype'), url('fonts/F1_Bold/Formula1-Bold_web.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'F1Regular';
    src: url('fonts/F1_Regular/Formula1-Regular_web.eot');
    src: url('fonts/F1_Regular/Formula1-Regular_web.eot?#iefix') format('embedded-opentype'), url('fonts/F1_Regular/Formula1-Regular_web.woff2') format('woff2'), url('fonts/F1_Regular/Formula1-Regular_web.woff') format('woff'), url('fonts/F1_Regular/Formula1-Regular_web.ttf') format('truetype'), url('fonts/F1_Regular/Formula1-Regular_web.svg') format('svg');
    font-weight: 400;
    font-style: normal
}


/*
@font-face {
    font-family: 'F1Wide';
    src: url('fonts/F1_Wide/Formula1-Wide_web.eot');
    src: url('fonts/F1_Wide/Formula1-Wide_web.eot?#iefix') format('embedded-opentype'), url('fonts/F1_Wide/Formula1-Wide_web.woff2') format('woff2'), url('fonts/F1_Wide/Formula1-Wide_web.woff') format('woff'), url('fonts/F1_Wide/Formula1-Wide_web.ttf') format('truetype'), url('fonts/F1_Wide/Formula1-Wide_web.svg') format('svg');
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: 'F1Black';
    src: url('fonts/F1_Black/Formula1-Black_web.eot');
    src: url('fonts/F1_Black/Formula1-Black_web.eot?#iefix') format('embedded-opentype'), url('fonts/F1_Black/Formula1-Black_web.woff2') format('woff2'), url('fonts/F1_Black/Formula1-Black_web.woff') format('woff'), url('fonts/F1_Black/Formula1-Black_web.ttf') format('truetype'), url('fonts/F1_Black/Formula1-Black_web.svg') format('svg');
    font-weight: normal;
    font-style: normal
}*/

html {
    position: relative;
    height: 100%;
}

body {
    height: 100%;
    position: relative;
    background-color: #f7f4f1;
}

img,
svg {
    display: block;
    width: 100%;
    height: auto;
}

figure,
figcaption {
    margin: 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.btn-rounded {
    border-radius: 60px;
    padding: 7px 18px;
}

.hidden {
    display: none;
}

#root {
    margin: 0;
    position: relative;
    width: 100%;
    height: 100%;
}

#content {
    height: auto;
    min-height: 100%;
    padding: 0 0 100px 0;
}

main>.container,
main>.container-fluid {
    padding-top: 70.5px;
}

.sidebar-title {
    padding: 11px 16px;
    margin: 0;
}

#header .fixed-top {
    z-index: 1300;
}

.admin-panel {
    padding-left: 0;
    padding-right: 0;
}

.admin-panel-nav {
    padding: 15px 0;
}

.page-not-found {
    color: #455a64;
    padding: 150px 0;
}

.page-not-found h1 {
    font-family: "Montserrat", sans-serif;
    font-size: 210px;
    font-weight: 900;
    text-shadow: 4px 4px 0 #ffffff, 6px 6px 0 #263238;
    line-height: 210px;
}

.page-not-found h3 {
    font-weight: 400;
    line-height: 30px;
    font-size: 21px;
}

.page-not-found p {
    margin: 30px 0;
    color: #bcc3d3;
}

.page-not-found .btn {
    margin: 0 0 40px 0;
}

#footer {
    margin: -100px 0 0 0;
    position: relative;
    clear: both;
    background-color: #192632;
    color: #fff;
    height: 100px;
    z-index: 1299;
}

.dropzone {
    border: 1px solid #e5e5e5;
    margin-bottom: 1rem;
}

.dropzone_box {
    float: left;
    width: 50%;
    height: 160px;
    padding: 10px;
    box-sizing: border-box;
}

.dropzone_box .wrap {
    cursor: pointer;
    background: #eaeaea;
    height: 100%;
    text-align: center;
    padding-top: 31px;
    box-sizing: border-box;
    font-size: 49px;
    background-size: contain !important;
    background-position: center center !important;
    border: 1px solid #eaeaea;
}

.site-page {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
}

.page-title {
    font-family: "F1BoldRegular";
    font-size: 40px;
    font-weight: normal;
    margin: 40px 0 40px 0;
    line-height: 1.125;
    transition: all 0.2s ease-out;
}

.teams-list {}

.team-list-item {
    display: inline-block;
    overflow: hidden;
    position: relative;
    min-height: auto;
    width: 100%;
    padding: 0 0 0 0;
    background-color: #fff;
    transition: all 0.2s ease-out;
    margin: 0 0 2px 0;
}

.team-list-item-wrapper {
    display: table;
    table-layout: fixed;
    width: 100%;
    padding: 0 0 60px 0;
    transition: all 0.2s ease-out;
}

.team-list-item-wrapper:hover,
.team-list-item-wrapper:focus {
    background-color: #171717;
}

.team-list-item-details {
    display: table-cell;
    padding: 0 0 0 30px;
    width: 46.33%;
    vertical-align: top;
}

.team-list-item-details .panel-left {
    display: table;
    float: left;
    width: 46.07%;
    padding: 75px 0 0 0;
}

.team-list-item-details .panel-left-upper {
    display: table-row;
    height: 0;
}

.team-list-item-title {
    color: #1e1e1e;
    font-size: 22px;
    font-family: "F1BoldRegular";
    margin-bottom: 25px;
    font-weight: 700;
    line-height: 1;
}

.team-list-item-wrapper:hover .team-list-item-title {
    color: #fff;
}

.team-list-item-flag {
    display: block;
    float: left;
    height: 20px;
    width: 28px;
    margin: 2px 10px 0 0;
}

.team-list-item-flag .image {
    display: block;
    border-radius: 3px;
    width: 100%;
    height: auto;
}

.team-list-item-drivers {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: "Titillium Web", Helvetica, sans-serif;
}

.team-list-item-driver {
    color: #545454;
    font-size: 14px;
    line-height: 1;
    margin-bottom: 13px;
}

.team-list-item-driver:before {
    font-family: 'icomoon-legacy';
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    content: '\e609';
    display: inline-block;
    font-size: 15px;
    height: 18px;
    line-height: 1;
    margin-right: 10px;
    text-align: center;
    width: 28px;
    vertical-align: -1px;
}

.team-list-item-wrapper:hover .team-list-item-driver {
    color: #fff;
}

.team-list-item-details .panel-left-lower {
    display: table-row;
    height: 100%;
}

.team-list-item-sponsor {
    width: 65%;
    vertical-align: middle;
    display: table-cell;
    padding: 0 30% 0 0;
}

.team-list-item-sponsor img {}

.team-list-item-details .stat-list {
    display: inline-block;
    width: 41.37%;
    margin: 75px 0 0 0;
}

.team-list-item-details .stat-list tbody {
    display: inline-block;
    width: 100%;
}

.team-list-item-details .stat-row {
    border-bottom: 1px solid #e2e2e2;
    display: table;
    text-align: right;
    width: 100%;
}

.team-list-item-details .stat-row:last-child {
    border-bottom: 0;
}

.team-list-item-details .stat-key {
    color: gray;
    display: table-cell;
    font-size: 10px;
    font-weight: 700;
    padding: 30px 3px 26px;
    text-align: left;
    vertical-align: middle;
}

.team-list-item-details .stat-row:first-child .stat-key,
.team-list-item-details .stat-row:first-child .stat-value {
    padding-top: 0;
}


/*
.icon {
    font-family: "icomoon" !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
*/

.team-list-item-details .stat-key .icon {
    display: inline-block;
    font-size: 20px;
    line-height: 1;
    text-align: right;
    width: 30px;
    margin-right: 20px;
    float: left;
}

.team-list-item-details .stat-key .text {
    display: inline-block;
    line-height: 1;
    overflow: visible;
    vertical-align: top;
    width: 20%;
}

.team-list-item-details .stat-value {
    color: gray;
    display: table-cell;
    font-size: 20px;
    font-weight: 500;
    line-height: 1;
    padding: 30px 3px 26px;
    text-align: right;
    vertical-align: middle;
}

.team-list-item-details .stat-row:first-child .stat-key,
.team-list-item-details .stat-row:first-child .stat-value {
    padding-top: 0;
}

.team-list-item-image {
    display: table-cell;
    height: 100%;
    overflow: hidden;
    vertical-align: top;
    position: absolute;
    width: 53.67%;
}

.team-list-item-image img {
    width: 100%;
}

.team-list-item-image .team-color {
    display: block;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    width: 5px;
    z-index: 1;
}

.team-list-item-image .team-adaptiveimage {}

.team-list-item-image .team-adaptiveimage .image {
    position: absolute;
    width: 100%;
    height: auto;
    min-height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transition: all 0.2s ease-out;
}

.team-list-item-wrapper:hover .team-list-item-image .team-adaptiveimage .image {
    transform: scale(1.1);
}

.team-details {
    margin: 0 0 2px;
    overflow: hidden;
    position: relative;
    background-color: #fff;
}

.team-details .stats,
.team-details .profile {
    float: left;
    min-height: 20px;
    width: 50%;
}

.team-details .stats {
    padding: 0 0 0 1px;
    background-color: #fff;
}

.team-details .team-stats {
    padding: 40px 40px 0 40px;
}

.team-details .team-stats .extra-info {
    display: flex;
    align-items: center;
    overflow: hidden;
    padding: 0;
}

.team-details .team-stats .brand-logo {
    float: left;
    height: auto;
    padding: 0 10px 0 0;
    width: 50%;
}

.team-details .team-stats .brand-logo img {
    max-height: 100%;
    max-width: 100%;
}

.team-details .team-stats .stat-list {
    font-family: "F1BoldRegular";
    margin: 20px 0 0 0;
    width: 100%;
    font-size: 18px;
}

.team-details .team-stats .stat-key,
.team-details .team-stats .stat-value {
    font-family: 'F1BoldRegular', Helvetica, sans-serif;
    font-size: 15px;
    font-weight: 700;
    text-align: left;
    line-height: 1.222;
    width: 50%;
    padding: 4px 0 4px 10px;
}

.team-details .team-stats .stat-value {
    padding: 0 0 0 5px;
    font-size: 15px;
    font-family: "Titillium Web", Helvetica, sans-serif;
    font-weight: 400;
}

.team-details .profile {
    padding: 0 1px 0 0;
}

.team-details .profile .drivers {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.team-details .profile .drivers li {
    float: left;
    width: 50%;
    border-color: #e2e2e2;
    border-style: solid;
    border-width: 0;
}

.team-details .profile .drivers li:first-child {
    border-width: 2px;
    border-top-width: 0;
    border-bottom-width: 0;
}

.team-details .driver-teaser {
    display: block;
    text-decoration: none;
    background-color: #fff;
    overflow: hidden;
}

.team-details .driver-teaser:hover {
    background-color: #000;
    transition: all 0.4s;
}

.team-details figure {
    margin: 0;
}

.team-details .driver-image {
    overflow: hidden;
    height: 440px;
}

.team-details .driver-image-outer {
    width: 100%;
    margin: 0 auto;
    overflow: visible;
}

.team-details .driver-image-inner {
    position: relative;
}

.team-details .driver-image-inner .image {
    position: relative;
    left: 50%;
    width: 600px;
    margin-left: -300px;
    transform: scale(1);
    transition: all 0.4s;
}

.team-details .driver-teaser:hover .image {
    transform: scale(1.05);
}

.team-details .driver-details {
    padding: 35px 40px;
}

.team-details .driver-number {
    font-family: "F1BoldRegular";
    font-weight: 700;
    font-size: 42px;
    line-height: 1.142;
    color: #000;
    letter-spacing: -1px;
    margin: 0 0 25px 0;
}

.team-details .driver-name {
    font-family: "F1BoldRegular";
    font-weight: 500;
    font-size: 18px;
    line-height: 1.222;
    margin: 0;
    padding: 0;
    letter-spacing: 0;
    color: #000;
}

.team-details .driver-team {
    font-family: "Titillium Web", Helvetica, sans-serif;
    font-weight: 700;
    font-size: 12px;
    line-height: 1.166;
    color: gray;
    text-transform: uppercase;
}

.team-details .driver-teaser:hover .driver-number,
.team-details .driver-teaser:hover .driver-name {
    color: #fff;
    transition: all 0.4s;
}

.calendar-page .page-title {
    font-size: 30px;
}

.calendar-list {
    position: relative;
}

.calendar-list-item {
    float: left;
    max-width: none;
    width: 25%;
}

.calendar-list-item .race-teaser {
    position: relative;
    overflow: hidden;
    margin: 1px;
    color: #000;
    height: 375px;
    padding: 0;
    transition: all 0.4s ease-out;
    text-transform: uppercase;
    background: none;
}

.calendar-list-item .race-teaser:hover {
    background-color: #171717;
}

.calendar-list-item .race-teaser-image {
    display: block;
    overflow: hidden;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 200px;
    transition: all 0.4s ease-out;
}

.calendar-list-item:hover .race-teaser-image {
    transform: scale(1.1);
}

.calendar-list-item .race-teaser-info {
    position: absolute;
    background-color: #fff;
    width: 100%;
    height: 195px;
    padding: 30px 25px;
    left: 0;
    bottom: 0;
    border-left: 0;
    transition: all 0.4s ease-out;
    font-family: "Titillium Web", Helvetica, sans-serif;
}

.calendar-list-item:hover .race-teaser-info {
    height: 205px;
    background-color: #171717;
}

.calendar-list-item.is-expired .race-teaser-info {
    background-color: #1e1e1e;
}

.calendar-list-item .race-teaser-date {
    font-size: 14px;
    font-weight: 600;
    line-height: 1.6;
    margin: 0;
    text-transform: uppercase;
    transition: all 0.4s ease-out;
}

.calendar-list-item .race-teaser-title {
    overflow: hidden;
    letter-spacing: 0.25px;
    font-family: "F1BoldRegular";
    max-width: 384px;
    width: 100%;
    margin: 10px 0;
    line-height: 1.3;
    height: 70px;
    font-size: 18px;
    font-weight: 500;
    transition: all 0.4s ease-out;
}

.calendar-list-item .race-teaser-winner {
    line-height: 1;
    font-size: 11px;
    font-weight: 700;
    letter-spacing: 0.2px;
    transition: all 0.4s ease-out;
}

.calendar-list-item .race-teaser:hover .race-teaser-date,
.calendar-list-item .race-teaser:hover .race-teaser-title,
.calendar-list-item .race-teaser:hover .race-teaser-winner,
.calendar-list-item.is-expired .race-teaser-date,
.calendar-list-item.is-expired .race-teaser-title,
.calendar-list-item.is-expired .race-teaser-winner {
    color: #fff;
}

.calendar-list-item .race-teaser-winner .icon-winner {
    color: #b3670e;
    font-size: 18px;
    margin-right: 5px;
    vertical-align: middle;
}

.hero-header {
    display: flex;
    position: relative;
    overflow: hidden;
    align-items: center;
    width: calc(100% + 30px);
    height: 370px;
    margin: 0 -15px;
}

.hero-header:before {
    content: '';
    position: absolute;
    pointer-events: none;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.hero-header-image {
    width: 100%;
}

.hero-content-wrapper {
    display: table;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    z-index: 1;
    text-align: center;
}

.hero-content-wrapper .race-location {
    font-family: "F1Bold";
    font-size: 62px;
    line-height: 62px;
    text-transform: uppercase;
    color: #fff;
    margin: 0;
}

.hero-content-wrapper .hero-image {
    display: block;
    width: 170px;
    margin: 5px auto 0;
}

.hero-content-wrapper .race-weekend-dates {
    display: inline-block;
    border-radius: 15px;
    margin: 15px 0 0 0;
    padding: 5px 10px;
    text-transform: uppercase;
    font-family: 'F1Regular';
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.5px;
    font-weight: 400;
    background-color: #15151e;
    color: #fff;
}

.calendar-detail-page .site-page {
    max-width: 100%;
}

.race-review-wrapper {
    padding: 0 0 40px 0;
}

.race-review {
    border: 0;
    padding: 0;
    border-top-right-radius: 25px;
    padding: 20px 20px 0 0;
    border-top: 10px solid #d0d0d2;
    border-right: 10px solid #d0d0d2;
}

.race-review legend {
    font-family: 'F1Regular';
    font-size: 12px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    text-align: left;
    padding: 0 20px 0 0;
    margin-right: 20px;
    line-height: 2.4;
    width: auto;
    color: #67676d;
}

.race-review .f1-podium {
    color: #15151e;
    list-style-type: none;
    padding: 0;
    counter-reset: podium;
    margin: 0 0 20px 0;
}

.race-review .f1-podium-item {
    display: flex;
    overflow: hidden;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    backface-visibility: hidden;
    border-radius: 5px;
    margin-bottom: 2px;
    padding: 5px 10px;
    background-color: #fff;
}

.f1-podium-icon {
    margin-right: 10px;
    width: 40px;
    text-align: right;
    font-size: 34px;
}

.f1-podium-driver {
    font-family: "F1Regular";
    font-size: 14px;
    line-height: 17px;
    width: 220px;
}

.f1-podium-driver .f1-podium-firstname {
    display: inline;
    text-transform: capitalize;
}

.f1-podium-driver .f1-podium-lastname {
    font-family: "F1Bold";
    font-weight: 700;
    text-transform: uppercase;
}

.f1-podium-driver-team {
    font-family: "F1Regular";
    font-size: 14px;
    line-height: 17px;
}

.f1-podium-driver-team-full {
    display: inline;
}

.f1-podium-driver-team-short {
    display: none;
}

.f1-podium-time {
    display: table;
    line-height: 1;
    border-radius: 15px;
    text-align: center;
    min-width: 95px;
    margin-left: auto;
    font-family: "Titillium Web";
    font-size: 13px;
    letter-spacing: 0.5px;
    font-weight: 400;
    width: auto;
    padding: 2px 10px;
    background-color: #ededed;
}

.race-review .race-review-ctas {
    margin: 0;
}

.race-review .race-review-ctas .btn {
    display: inline-block;
    position: relative;
    background: #e10600;
    box-shadow: none;
    color: #fff;
    font-size: 13px;
    text-transform: uppercase;
    font-family: "Titillium Web";
    letter-spacing: 0.5px;
    cursor: pointer;
    line-height: 15px;
    font-weight: 600;
    padding: 12px 35px 12px 15px;
    border: none;
    border-radius: 5px;
    text-align: left;
    transition: all 0.5s cubic-bezier(0.2, 0, 0.05, 1);
}

.race-review .race-review-ctas .btn i {
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 15px;
    height: 1em;
    width: 1em;
    margin-top: -1px;
}

.race-review .race-review-ctas .btn:hover {
    box-shadow: 0 0 0 2px #e10600 inset;
    background: #fff;
    color: #15151e;
}

.race-review .race-review-ctas .btn:hover i {
    color: #e10600;
}

.race-map-wrapper {
    padding: 60px 0 0 0;
}

.race-map {
    border: 0;
    padding: 0;
    border-top-right-radius: 25px;
    padding: 20px 20px 0 0;
    border-top: 10px solid #e10600;
    border-right: 10px solid #e10600;
}

.race-map legend {
    font-family: "F1Bold";
    position: relative;
    font-size: 25px;
    line-height: 1;
    text-align: left;
    margin: 0 20px 0 0;
    padding: 0 20px 0 0;
    width: auto;
}

.race-map .f1-flag-wrapper {
    left: 0;
    position: absolute;
    top: -10px;
    width: 60px;
}

.race-map .f1-flag-wrapper picture {
    background-color: #ffffff;
    text-transform: none;
}

.race-map .f1-flag-wrapper picture img {
    border-radius: 5px;
}

.race-map .f1-track-name {
    margin-left: 70px;
}

.race-map .f1-race-map-wrapper picture {
    background-color: #ffffff;
    text-transform: none;
}

.race-map .f1-race-map-track-name {
    display: none;
    font-family: "F1Bold";
    font-size: 25px;
    line-height: 30px;
}

.race-map .f1-stat {
    border-bottom-right-radius: 15px;
    padding-right: 10px;
    padding-bottom: 10px;
    border-right: 2px solid #d0d0d2;
    border-bottom: 2px solid #d0d0d2;
}

.race-map .f1-stat:not(.no-margin) {
    margin-bottom: 20px;
}

.race-map .f1-stat-label {
    font-family: "Titillium Web";
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0.5px;
    font-weight: normal;
    margin-bottom: 10px;
}

.race-map .f1-stat-value {
    font-family: "F1Bold";
    font-size: 36px;
    line-height: 36px;
}

.race-map .f1-stat-value span {
    font-family: "Titillium Web";
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0.5px;
    font-weight: normal;
}

.race-map .f1-stat p:last-of-type {
    margin-bottom: 0;
}

.drivers-page {}

.drivers-page-inner {
    background-color: #fff;
}

.drivers-list {}

.drivers-list .driver-teaser {
    display: block;
    float: left;
    overflow: hidden;
    background-color: #fff;
    width: 25%;
    height: 374px;
    border: 2px solid #efefed;
    border-left: 0;
    border-top: 0;
    text-decoration: none;
    transition: all 0.4s ease-out;
}

.drivers-list .driver-teaser:hover {
    background-color: #000;
}

.driver-teaser-image-wrapper {
    overflow: hidden;
    height: 200px;
}

.driver-teaser-image-outer {
    overflow: visible;
    width: 100%;
    margin: 0 auto;
}

.driver-teaser-image-inner {
    position: relative;
}

.driver-teaser-image-inner .driver-teaser-image img {
    position: relative;
    transition: all 0.4s ease-out;
    transform: scale(1);
    width: 500px;
    left: 50%;
    margin-left: -250px;
}

.drivers-list .driver-teaser:hover .driver-teaser-image img {
    transform: scale(1.05);
}

.drivers-list .driver-details {
    padding: 35px 40px;
}

.drivers-list .driver-number {
    letter-spacing: -1px;
    margin: 0 0 25px;
    color: #000;
    line-height: 1.142;
    font-size: 42px;
    font-weight: 700;
    font-family: 'F1BoldRegular', Helvetica, sans-serif;
    transition: all 0.4s ease-out;
}

.drivers-list .driver-name {
    margin: 0;
    padding: 0;
    letter-spacing: 0;
    line-height: 1.222;
    color: #000;
    font-size: 18px;
    font-weight: 500;
    font-family: 'F1BoldRegular', Helvetica, sans-serif;
    transition: all 0.4s ease-out;
}

.drivers-list .driver-teaser:hover .driver-number,
.drivers-list .driver-teaser:hover .driver-name {
    color: #fff;
}

.drivers-list .driver-team {
    text-transform: uppercase;
    color: gray;
    line-height: 1.166;
    font-size: 12px;
    font-weight: 700;
    font-family: "Titillium Web", Helvetica, sans-serif;
    margin: 0 0 20px 0;
}

.drivers-detail-page .site-page {
    padding: 40px 0 0 0;
}

.drivers-detail-page .driver-details {
    position: relative;
    overflow: hidden;
    background-color: #fff;
}

.drivers-detail-page .profile {
    min-height: 20px;
    float: left;
    width: 50%;
    padding: 0 1px 0 0;
}

.drivers-detail-page .driver-title {
    overflow: hidden;
    background-color: #fff;
}

.drivers-detail-page .driver-main-image {
    overflow: hidden;
    height: 452px;
}

.drivers-detail-page .driver-main-image-outer {
    overflow: visible;
    margin: 0 auto;
    width: 100%;
}

.drivers-detail-page .driver-main-image-inner {
    position: relative;
}

.drivers-detail-page .driver-main-image-inner .image {
    position: relative;
    left: 50%;
    width: 720px;
    margin-left: -360px;
}

.drivers-detail-page .driver-detail {
    background-color: #fff;
    overflow: hidden;
    position: relative;
    padding: 35px 40px;
}

.drivers-detail-page .driver-number {
    color: gray;
    letter-spacing: -1px;
    margin: 0 0 15px;
    font-family: 'F1BoldRegular', Helvetica, sans-serif;
    font-weight: 500;
    font-size: 42px;
    line-height: 1.142;
}

.drivers-detail-page .driver-flag {
    display: inline-block;
    position: relative;
    height: 32px;
    width: 48px;
    margin: 0 0 0 15px;
}

.drivers-detail-page .driver-flag img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.drivers-detail-page .driver-name {
    font-family: 'F1BoldRegular', Helvetica, sans-serif;
    font-weight: 700;
    font-size: 42px;
    line-height: 1.142;
    margin: 0;
    padding: 0;
}

.drivers-detail-page .stats {
    min-height: 20px;
    float: left;
    width: 50%;
    padding: 0 0 0 1px;
    background-color: #fff;
}

.drivers-detail-page .stats-list-component {
    padding: 40px;
    background-color: #fff;
}

.drivers-detail-page .extra-info {
    overflow: hidden;
    padding: 0;
}

.drivers-detail-page .brand-logo {
    display: inline-block;
    height: 125px;
    padding: 0 10px 0 0;
    width: auto;
}

.drivers-detail-page .brand-logo img {
    max-width: 190px;
    max-height: 125px;
}

.drivers-detail-page .stat-list {
    width: 100%;
    margin: 20px 0 0 0;
    font-family: "F1BoldRegular";
    font-size: 18px;
}

.drivers-detail-page .stat-key {
    font-family: 'F1BoldRegular', Helvetica, sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.222;
    width: 50%;
    text-align: left;
    padding: 4px 0 4px 10px;
}

.drivers-detail-page .stat-value {
    font-family: "Titillium Web", Helvetica, sans-serif;
    padding-left: 30px;
}

.driver-index-aside {
    height: 748px;
    float: right;
    width: 50%;
    background-color: #fff;
}

.driver-index-standings {
    height: 748px;
    padding-top: 30px;
}

.drivers-championship {
    background-color: #fff;
}

.driver-index-aside .standings {
    font-size: 13px;
    line-height: 1;
    color: #4a4a4a;
    padding: 0 30px 15px;
}

.driver-index-aside .standings-title {
    color: gray;
    text-transform: uppercase;
    font-family: 'F1BoldRegular', Helvetica, sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.214;
    margin-bottom: 30px;
}

.driver-index-aside table {
    width: 100%;
    font-family: "Titillium Web", Helvetica, sans-serif;
}

.driver-index-aside .standings th {
    color: #222b2f;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    text-align: left;
    text-transform: uppercase;
}

.driver-index-aside .standings thead .number {
    font-weight: 700;
    width: 55px;
    text-align: center;
    padding: 0 10px 15px;
}

.driver-index-aside .standings .name {
    text-transform: none;
    padding-left: 6px;
    font-family: 'F1BoldRegular', Helvetica, sans-serif;
    font-size: 13px;
    color: #15151e;
}

.driver-index-aside .standings thead .country {
    color: #222b2f;
    font-weight: 700;
}

.driver-index-aside .standings thead .team {
    padding: 0 10px 15px;
    color: #222b2f;
    font-weight: 700;
}

.driver-index-aside .standings .car {
    padding-top: 10px;
    padding-bottom: 10px;
}

.driver-index-aside .standings .points {
    font-weight: 700;
    text-align: right;
}

.driver-index-aside .standings td {
    padding: 14px 10px 13px;
    vertical-align: middle;
}

.driver-index-aside .standings .position {
    font-weight: 700;
    width: 55px;
    text-align: center;
}

.driver-index-aside .standings .team-number {
    display: inline-block;
    position: relative;
    font-size: 14px;
    line-height: 14px;
    font-weight: 700;
    background: #b0b0b0;
    color: #fff;
    padding: 7px 10px 7px 0;
    width: 40px;
    text-align: center;
    -webkit-transform: skew(-30deg);
    -moz-transform: skew(-30deg);
    -o-transform: skew(-30deg);
    -ms-transform: skew(-30deg);
    transform: skew(-30deg);
}

.driver-index-aside .standings .team-number .text {
    display: inline-block;
    -webkit-transform: skew(30deg);
    -moz-transform: skew(30deg);
    -o-transform: skew(30deg);
    -ms-transform: skew(30deg);
    transform: skew(30deg);
}

.driver-index-aside .standings .team-number .color {
    width: 10px;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    background: #000;
}

.driver-index-aside .standings .last-name {
    text-transform: uppercase;
    font-weight: 700;
}

.driver-index-aside .standings .tla {
    display: none;
}

.driver-index-aside .standings tbody .country {
    text-transform: uppercase;
    color: gray;
}

.driver-index-aside .standings tbody .team {
    font-weight: 600;
    color: gray;
    text-transform: uppercase;
}

.driver-index-aside .standings .car img {
    display: block;
    width: 126px;
}

.driver-index-aside .standings .morelink {
    text-align: center;
    padding: 30px 0;
    font-size: 18px;
    font-family: "Titillium Web", Helvetica, sans-serif;
    font-weight: 600;
    line-height: 1.2;
}

.driver-index-aside .standings .morelink .driver-standings-more-link {
    color: #000;
    text-decoration: none;
}

.driver-index-aside .standings .morelink .driver-standings-more-link:hover {
    color: #cc1800;
}

.results-page .site-page {
    background-color: #fff;
}

.resultsarchive-wrapper {
    margin: 0 0 40px 0;
    padding: 40px 26px 45px 26px;
}

.resultsarchive-wrapper .page-title {
    margin-top: 0;
}

.resultsarchive-wrapper .date {
    color: #171717;
    font-size: 13px;
    font-family: "Titillium Web", Helvetica, sans-serif;
    margin-top: .9rem;
    line-height: 1.35rem;
}

.resultsarchive-wrapper .date span {
    padding-bottom: 10px;
}

.resultsarchive-wrapper .date .start-date {
    font-weight: 700;
}

.resultsarchive-wrapper .date .full-date {
    font-weight: 700;
    margin-right: 10px;
    text-transform: uppercase;
}

.resultsarchive-wrapper .date .circuit-info {
    color: gray;
}

.resultsarchive-wrapper .note {
    color: #545454;
    line-height: 1.5;
    font-size: 14px;
    font-family: "Titillium Web", Helvetica, sans-serif;
}

.results-page .table-wrap {}

.results-page .resultsarchive-table {
    width: 100%;
    margin: 0 0 25px 0;
    font-family: "Titillium Web", Helvetica, sans-serif;
}

.results-page .resultsarchive-table tr th {
    font-size: 11px;
    font-weight: 500;
    color: gray;
    text-transform: uppercase;
    text-align: left;
    padding: 18px 20px 14px;
}

.results-page .resultsarchive-table tbody tr:nth-child(2n+1) {
    background: #f4f4f4;
}

.results-page .resultsarchive-table td {
    font-size: 13px;
    text-align: left;
    padding: 18px 20px 14px;
}

.results-page .resultsarchive-table .bold {
    font-weight: 700;
}

.results-page .resultsarchive-table .archive-link {
    text-decoration: none;
}

.results-page .resultsarchive-table .semi-bold {
    font-weight: 600;
}

.results-page .resultsarchive-table .grey {
    color: grey;
}

.results-page .resultsarchive-table .dark {
    color: #4a4a4a;
}

.results-page .resultsarchive-table .uppercase {
    text-transform: uppercase;
}

.results-page .resultsarchive-table .hide-for-desktop {
    display: none;
}

@import url("responsive.css");